@media (max-width: 1370px) {
    .grid-cont {
        height: 700px !important;
    }
}

@media (max-width: 1800px) {
    .grid-cont {
        height: 830px !important;
    }
}

@media (max-width: 2400px) {
    .grid-cont {
        height: 860px !important;
    }
}