@media (min-width: 1720px) {
    .custom {
        height: 750px !important;
    }
}

 @media (min-width: 2000px) {
    .custom {
        height: 850px !important;
    }
}

@media (min-width: 2200px) {
    .custom {
        height: 950px !important;
    }
}  